<div class="app" *ngIf="cv">
  <div class="cv-header">
    <h1 class="font-source">{{ cv.name }}</h1>
    <h2 class="font-source font-300">{{ cv.jobTitle }}</h2>
    <div class="contacts">
      <ul>
        <li *ngFor="let contact of cv.contacts">
          {{ contact }}
        </li>
      </ul>
    </div>
  </div>

  <div class="summary-points">
    <ul>
      <li *ngFor="let point of cv.summaryPoints">
        {{ point }}
      </li>
    </ul>
  </div>

  <div class="experiences block">
    <h2>Professional Experience</h2>
    <div *ngFor="let experience of cv.professionalExperiences">
      <app-experience [experience]="experience"></app-experience>
    </div>
  </div>

  <div class="experiences block" *ngIf="cv.personalExperiences && cv.personalExperiences.length">
    <h2>Personal Experience</h2>
    <div class="experience" *ngFor="let experience of cv.personalExperiences">
      <app-experience [experience]="experience"></app-experience>
    </div>
  </div>

  <div class="education_list block" *ngIf="cv.education && cv.education.length">
    <h2>Education</h2>
    <div class="education" *ngFor="let education of cv.education">
      <app-education [education]="education"></app-education>
    </div>
  </div>
</div>
