<div class="app" *ngIf="cv">
  <div class="cv-header">
    <h1 class="font-source">{{ cv.name }}</h1>
    <h2 class="font-source font-300">{{ cv.jobTitle }}</h2>
    <div class="contacts">
      <ul>
        <li *ngFor="let contact of cv.contacts">
          {{ contact }}
        </li>
      </ul>
    </div>
  </div>

  <div class="summary-points">
    <ul>
      <li *ngFor="let point of cv.summaryPoints">
        {{ point }}
      </li>
    </ul>
  </div>

  <div class="experiences block">
    <h2>Professional Experience</h2>
    <div class="experience" *ngFor="let experience of cv.professionalExperiences">
      <h3 class="experience_title">{{ experience.title }}</h3>
      <h4 class="experience_date">{{ experience.dateRange }}</h4>
      <p class="meta">Primary skills: {{ experience.primarySkills }}</p>
      <div class="experience_summary">
        {{ experience.summary }}
      </div>
      <ul class="experience_highlights">
        <li *ngFor="let point of experience.points">
          {{ point }}
        </li>
      </ul>
    </div>
  </div>
</div>
