@use '../shared/variables';

.app {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  > div {
    margin: variables.$pad-lg 0;
  }
}

.cv-header {
  text-align: center;
  margin: variables.$pad-lg 0;

  .contacts {
    margin: variables.$pad-md 0;
  }

  ul li {
    display: inline-block;
    padding: 0 variables.$pad-md;

    &:not(:last-of-type) {
      border-right: 1px solid;
    }
  }
}

.block {
  h2 {
    margin-bottom: variables.$pad-xsm;
  }
}




